@use'../generales/variables'as*;
@use'../utilidades/extends'as*;
.subtitulo-cc {
  @extend %subtitulos;
}

/* Lista personalizada */
.lista1 .list-group-numbered {
    list-style-type: square; 
    font-weight: 700;
    padding-left: 20px; 
  }
  .lista1 .list-group-item {
    margin-top: 10px;
    color: #000000; 
    font-size: 20px; 
  }
  .lista1 .list-group-item:hover {
    background-color: $bg-2;
    color: white;
  }
  