/* Enlaces de contacto */
.links1 {
    text-decoration: none;
    display: block;
    height: auto;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    background: #EC7FA9;
    color: rgb(0, 0, 0);
  }
  