@use'../generales/variables'as*;
@use'../utilidades/extends'as*;

.subtitulo-r {
  @extend %subtitulos;
}
/* Formulario de registro */
.list-style {
    display: block;
    height: auto;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    background: $bg-4;
    color: rgb(0, 0, 0);
  }
  .list-style input {
    background: $bg-1;
  }
  .list-style select {
    background: $bg-1;
  }