@use'../generales/variables'as*;
@use'../utilidades/extends'as*;

.subtitulo-r {
  @extend %subtitulos;
}
/* Formulario de registro */
.list-style {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  background: $bg-4;
  color: rgb(0, 0, 0);

  input,
  select {
    width: 100%;
    background: $bg-1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
  }
}