/* Formulario de registro */
.list-style {
    display: block;
    height: auto;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    background: #EC7FA9;
    color: rgb(0, 0, 0);
  }
  .list-style input {
    background: #F7A8C4;
  }
  .list-style select {
    background: #F7A8C4;
  }