@use '../generales/variables'as*;

/* Footer */
.piedepagina {
  background-color: $bg-2;
  padding: 50px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  border-top: 2px solid #ccc;
  .footer-logo {
    max-width: 100px;
    margin-bottom: 15px;
  }
  a {
    color: #333;
    text-decoration: none;
  &:hover {
    color: #ffffff;
  }
  }
}

