 /* Footer */
 .piedepagina {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #E53888;
    img {
      height: 165px;
      float: right;
    }
  }