@use'../generales/variables'as*;

/*HEADER*/
.navbar {
    background-color: $bg-2; 
  }
  .navbar-brand {
    display: flex;
    justify-content: center;
    font-weight: 1000;
    font-size: 50px;
    color: rgb(0, 0, 0); 
  }
  .offcanvas-body {
    background-color: $bg-2; 
  }
  .offcanvas-header {
    background-color: $bg-2; 
  }
  .offcanvas-title:hover {
    color: rgb(255, 254, 254);
  }
  .nav-link:hover {
    color: rgb(255, 255, 255);
  }